* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
    padding: 16px 16px;
    position: fixed; inset: 0px; width: 720px; height: 440px; 
    border-radius: 16px;
    box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 1);
    background-color: #456882;
}

.title h2{
    margin-bottom: 12px;
    width: 100%;
    font-weight: 800;
    color: white;
}

.text_form form input{
    padding: 0 6px; 
    width: 300px; 
    height: 30px;
    border-radius: 6px;
    border: 0px;
    font-size: 10px;
}

